<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>

<body>
    <%-include("./partials/nav.ejs")%>
    <h4 class="id">
        <%=presi.id%>
    </h4>
    <h3 class="last">
        <%=presi.lastName%> <%=presi.firstName%>
    </h3>
    <h4 class="title">
        <%=presi.title%>
    </h4>
    <h4 class="title">
        <%=presi.content%>
    </h4>

    <%-include("./partials/footer.ejs")%>
</body>

</html>