<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
  <%-include("./partials/nav.ejs")%>

  <%=presidents.lastName%>
  <%=presidents.firstName%>
  <%=presidents.title%>
  <%=presidents.note%>
 
  <%-include("./partials/footer.ejs")%> 
</body>

</html>