<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
    <%-include("./partials/nav.ejs")%>
      <div class="employee-content">
        <h2>list of all Employees</h2>
        <% if (employees.length>0){%>
          <% employees.forEach(e =>{ %>
            <h3 class="last"><%=e.lastName%></h3>
            <p class="first"><%=e.firstName%></p>
            <h4 class="title"><%=e.title%></h4>
            <%})%>
       <% } else {%>
        <p>File empty</p>
        <%}%>

      </div>
      
</body>
<%-include("./partials/footer.ejs")%>
</html>